body{
    z-index: -1;
    background-color: #364958;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}
h4{
    font-size: 20px;
    text-align: center;
}
li{
    list-style-type: none;
}

.imagelowerleft{
    position: relative;
    bottom: -425px;
    z-index: auto;
}
.parallax {
    background-size: cover;
    z-index: auto;
    background: url("img/para1.jpg") no-repeat fixed center;
}


.roundednav {
    text-align: center;
    border-radius: 15px;
    background: #DCDCDD;
    width: 180px;
    height: 250px;
    font-size: 20px;
    position: fixed;
    top: 450px;
    z-index:10;
}
.profilephoto{
    width: 250px;
    height: 250px;
    background: url("img/profile.png") center;
    background-size: cover;
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    border-radius: 125px;
    z-index: auto;
}
.contact1{
    width: 150px;
    height: 150px;
    background: url("img/github.jpeg") center;
    background-size: 270%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    z-index: auto;
}
.contact2{
    width: 150px;
    height: 150px;
    background: url("img/LinkedIn.jpg") center;
    background-size: 125%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    z-index: auto;
}
.contact3 {
    width: 150px;
    height: 150px;
    background: url("img/Bitbucket.png") center;
    background-size: cover;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    z-index: auto;
}